<!DOCTYPE html>
<html>

<body style="background-color: #FF0066">

<h1>SveCki MEGA car!</h1>
<p>RAMBO AmAdeus</p>
<p>EURO NEURO</p>

<h2>LOL</h2>



<ul>
  <li>Djemo</li>
  <li>voli</li>
  <li>džem</li>
</ul>

  <img src="http://esctodaygdd.s3.amazonaws.com/wp-content/uploads/2013/01/Rambo-Amadeus.jpg" height="800px" width="1000px" class="col-md-6" class="col-xs-12" >

  <table style="width:30%">
    <tr>
      <th>SveCki</th>
      <th>KILO</th>
      <th>car</th>
    </tr>
    <tr>
      <td>nastupa</td>
      <td>15.02.15.</td>
      <td>NS</td>
    </tr>
  </table>







</body>
</html>
